// @prefix480: col-480-;

@media (max-width: 992px) {
    .home-first-background {
        padding-top: 60px;
    }

    .mobile-menu-container {
        overflow: hidden;

        .inner-menu {
            overflow-y  : scroll;
            overflow-x  : hidden;
            margin-right: -20px;
            max-height  : 100%;
            padding     : 0 10px 0 10px;
        }
    }

    .mobile-menu-container {

        .navbar-nav,
        >.copyright-text {
            display: block;
        }

        .widget-area {
            border-top : 1px solid #2b2b2b;
            padding-top: 20px;
            margin-top : 20px;
        }
    }

    .responsive .site-content {
        &.sidebar-right .site-main .wrap-main-content {
            padding-right: 0;
            border-right : none;
        }

        &.sidebar-left .site-main .wrap-main-content {
            padding-left: 0;
            border-left : none;
        }
    }

    .responsive .btn-back-to-top {
        width    : 45px;
        height   : 45px;
        font-size: 25px;
    }

    .responsive iframe#Player-1youtube {
        height: 450px;
    }




}

@media (max-width: 767px) {
    .responsive .bp-element-posts {
        .heading-post {
            padding-right : 0;
            padding-bottom: 40px;
        }

        .slide-posts .wrap-arrow-slick {
            justify-content: flex-start;
            top            : -75px;
            right          : auto;
            left           : 0;
        }
    }





    .responsive .bl-blog-detail .text-blog-detail {
        .wrap-share-blog {
            width: 50px;

            .share {
                .namefield {
                    font-size: 14px;
                }

                .socials .item-social {
                    font-size: 14px;
                    width    : 35px;
                    height   : 35px;
                }
            }
        }

        .content-blog {
            width: calc(100% - 50px - 15px);

            .author-blog {
                justify-content: center;

                .pic-author {
                    margin-bottom: 15px;
                }

                .text-author {
                    width     : 100%;
                    text-align: center;
                }
            }

            .navigate-blog {
                flex-direction: column;

                .navi-item {
                    width     : 100%;
                    flex-grow : unset;
                    flex-basis: unset;

                    &.prev-blog {
                        padding-left: 20px;

                        .navi-text {
                            padding-right: 20px;
                        }
                    }

                    &.next-blog {
                        padding-right: 20px;

                        .navi-text {
                            padding-left: 20px;
                        }
                    }
                }
            }

            .comments-area .list-comments .comment-list {
                .comment {
                    .avatar {
                        margin-bottom: 20px;
                    }

                    .content-comment {
                        width: 100%;
                    }
                }

                .children {
                    padding-left: 50px;
                }
            }
        }
    }

    .responsive iframe#Player-1youtube {
        height: 287px;
    }




}

@media (max-width: 576px) {

    .responsive .bl-blog-detail .text-blog-detail {
        .wrap-share-blog {
            width: 100%;

            .share {
                flex-direction: row;
                flex-wrap     : wrap;
                align-items   : center;
                margin-bottom : 30px;

                .namefield {
                    margin-right : 10px;
                    margin-bottom: 0;
                }

                .socials {
                    flex-direction: row;
                    flex-wrap     : wrap;

                    .item-social {
                        margin: 5px;
                    }
                }
            }
        }

        .content-blog {
            width: 100%;
        }
    }

    .responsive .products-list .wrap-element .heading-products .results {
        width        : 100%;
        margin-bottom: 10px;
    }



}


@media (max-width: 480px) {
    .responsive .bp-element-posts .post-item .item {
        .pic {
            margin-bottom: 15px;
        }

        .text {
            width: 100%;
        }
    }

    .responsive iframe#Player-1youtube {
        height: 215px;
    }


}

@media (min-width: 768px) {
    .site-footer {

        .copyright-area {
            &:nth-child(1) {

                &.copyright-text,
                &.widget,
                &.copyright-menu {
                    text-align: left;
                }
            }

            &:nth-child(2) {

                &.copyright-text,
                &.widget,
                &.copyright-menu {
                    text-align: right;
                }
            }
        }
    }
}

@media (min-width: 992px) {}



.container {
    margin-right : auto;
    margin-left  : auto;
    padding-right: 15px;
    padding-left : 15px;
}

.new-content {
    min-height: calc(100vh - 243px);
}


// .generate-columns(@n) when (@n > 0) {
//     .@{prefix480}@{n} {
//         position     : relative;
//         min-height   : 1px;
//         padding-right: 15px;
//         padding-left : 15px
//     }

//     .generate-columns(@n - 1);
// }

// .generate-columns(12);

// @media (min-width:480px) {
//     .container {
//         width: 90vw
//     }

//     .generate-columns480(@n) when (@n > 0) {
//         .@{prefix480}@{n} {
//             float: left;
//             width: calc(100% / 12 * @n);
//         }

//         .generate-columns480(@n - 1);
//     }

//     .generate-columns480(12);
// }

@media (min-width:768px) {
    .container {
        width: 90vw
    }
}

@media (min-width:992px) {
    .container {
        width: 82vw
    }

}

@media (min-width:1200px) {
    .container {
        width: 78vw
    }
}

@media screen and (max-width:768px) {

    .site-footer {
        min-height: 140px;
    }

    .new-content {
        min-height: calc(100vh - 200px);
    }
}